.form {

}

.searchInput {
    width: 225px;
    height: 30px;
    padding: 3px 7px;
    border: none;
    border-radius: 2px;
    font-family: montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.searchButton {
    width: 80px;
    height: 32px;
    margin-left: 30px;
    border: none;
    border-radius: 2px;
    font-family: montserrat, sans-serif;
    font-size: 12px;
    font-weight: 600;
    background-color: white;
    transition: all ease 0.5s;
}

.searchButton:hover {
    transform: scale(1.1);
}

.searchButton:active {
    transform: scale(0.9);
    color: grey;
}