.movieItem {
    width: 350px;
    height: 500px;
    margin-bottom: 25px;
}

.imgHolder {
    height: 375px;
    transition: all ease 0.5s;
}

.imgHolder:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.imgHolder:active {
    transform: scale(0.97);
}

.img {
    display: block;
    height: 375px;
    margin: 0 auto;
}

.infoHolder {
    height: 125px;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    border-left: 1px solid #002452;
    border-right: 1px solid #002452;
    transition: all ease 0.5s;
}

.infoHolder:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.infoHolder:active {
    transform: scale(0.97);
}

.genres {
    font-style: italic;
}

.countries {
    font-weight: 500;
}